<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>1059735946958-1sssmhqh0fh3jt9orkjpks1hstcuj8b2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCF5SjhjUxbT0j2lFvN9z_mSwVtr2YpVn4</string>
	<key>GCM_SENDER_ID</key>
	<string>1059735946958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mahmoudhamdyae.social</string>
	<key>PROJECT_ID</key>
	<string>smart-learning-2c505</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-learning-2c505.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059735946958:ios:5f5c5055347276fad8329f</string>
	<key>DATABASE_URL</key>
	<string>https://smart-learning-2c505.firebaseio.com</string>
</dict>
</plist>